@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Urbanist:wght@100;400&display=swap');

:root {
    --color_blue: #0984e3;
    --color_dark_blue: #546de5;
    --color_red: #e74c3c;
    --color_purple: #5f27cd;
    --color_green: #1abc9c;
    --color_yellow: #f5cd79;
    --color_orange: #f19066;
    --color_lightgrey: #dfe6e9;
    --color_darkgrey: #222325;
}

body {
    background-color: var(--color_darkgrey);
    font-family: 'Urbanist','Archivo Black', sans-serif;
    font-size: 17px;
    color: white;
    width: 100vw;
    height: 90vh;
    position: relative;
}

header, main {
    width: 80%;
    margin: 0 auto;
}

/* MAIN SECTION */
main {
    width: 40%;
    margin: 0 auto;
    min-height: 90%;
    text-align: center;
}

h1 {
    color: var(--color_green);
    font-family: 'Archivo Black', sans-serif;
    text-decoration: underline var(--color_purple) 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 4px 5px var(--color_lightgrey);
    letter-spacing: 5px;
}

h2 {
    font-size: 18px;
}


/* FORM */
form {
    margin-bottom: 20px;
}

input {
    font-size: 17px;
    font-family: 'Urbanist', sans-serif;
}

#btn {
    font-family: 'Archivo Black', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 5px;
    border: 1px dotted var(--color_green);
    text-align: left;
}

#alert {
    display: none;
    color: var(--color_red);
    font-size: 20px;
}

.delete-icon, .boxToCheck {
    margin: 0 10px;
}


/* FOOTER */
footer {
    text-align: center;
    font-size: 13px;
    min-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: var(--color_lightgrey);
    font-family: 'Urbanist','Archivo Black', sans-serif;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 474px) {
    body {
        font-size: 10px;
        height: 80vh;
    }
    main {
        width: 90%;
    }
    h1 {
        font-size: 40px;
    }
    form {
        text-align: center;
    }
    #btn, li, input {
        font-size: 15px;
    }
}